<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Title"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        placeholder="Content"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button id="filePicker" mat-stroked-button type="button" (click)="inputImg.click()">Pick Image</button>
      <input type="file" #inputImg (change)="selectImage($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid" >
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
